[submodule "Haketon/vendor/spdlog"]
	path = Haketon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Haketon/vendor/GLFW"]
	path = Haketon/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Haketon/vendor/imgui"]
	path = Haketon/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Haketon/vendor/imgui2"]
	path = Haketon/vendor/imgui2
	url = https://github.com/ocornut/imgui
