# Binaries
**/bin/
**/obj/
bin-int/
!vendor/premake/bin

# Visual Studio files and folder
.vs/
.idea/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Haketon/vendor/VulkanSDK
HaketonEditor/assets/cache
scripts/__pycache__

# Haketon files
*.log
imgui.ini
!HaketonEditor/imgui.ini

*.gen.cpp
*.gen.h
*.vcxproj
*vcxproj.filters
*.gen.txt
*.sln.DotSettings.user
